<template>
  <div class="projects">
    <div role="tablist bg-dark">
    <h1 class="subheading grey--text">C Tutorial – Learn C Programming with examples</h1>
     <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab" >
        <b-button block href="" v-b-toggle.accordion-1 variant="info" >CHAPTER 1: FLOWCHARTING AND ALGORITHMS</b-button>
      </b-card-header>
      <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
        

        <b-list-group>  
        <b-button  v-b-toggle.according-1  class="m-1" variant="dark">1.1 Flowchart Defined </b-button>
        <b-collapse id="according-1"   >
          <b-card-body>
           <b-card-text>{{ text1 }}</b-card-text>
           <b-card-text>{{ text2 }}</b-card-text>
           <b-card-text>{{ text3 }}</b-card-text>
           <b-card-text>{{ text4 }}</b-card-text>  
        </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-1a  class="m-1" variant="dark">1.2 Algorithm Defined </b-button>
          <b-collapse id="according-1a" >
             <b-card-body>
               <b-card-text>{{ text5 }}</b-card-text>
             </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-1b  class="m-1" variant="dark">1.3 Basic Symbols Used in Flowcharting</b-button>
        
      <b-collapse id="according-1b" >
             <b-card-body>
               <b-img center src="../assets/b.png" width="760px" height="580px" alt="center"  ></b-img>         
              </b-card-body>
      </b-collapse>

          <b-button v-b-toggle.according-1c  class="m-1" variant="dark">1.4	Basic Control Structures</b-button>
        

      <b-collapse id="according-1c" >
             <b-card-body>
               <b-img center src="../assets/ab.png" width="722px" height="872px" alt="center"  ></b-img>
               <b-img center src="../assets/ac.png" width="723apx" height="910px" alt="center" ></b-img> 
               <b-img center src="../assets/ad.png" width="722px" height="922px" alt="center"  ></b-img> 
               <b-img center src="../assets/ae.png" width="719px" height="848px" alt="center"  ></b-img> 
               <b-img center src="../assets/af.png" width="676px" height="902px" alt="center"  ></b-img>
               <b-img center src="../assets/ag.png" width="692px" height="853px" alt="center"  ></b-img>
               <b-img center src="../assets/ah.png" width="696px" height="893px" alt="center"  ></b-img>
               <b-img center src="../assets/ai.png" width="697px" height="982px" alt="center"  ></b-img>
               <b-img center src="../assets/aj.png" width="691px" height="977px" alt="center"  ></b-img>
               <b-img center src="../assets/ak.png" width="703px" height="943px" alt="center"  ></b-img>
               <b-img center src="../assets/al.png" width="699px" height="921px" alt="center"  ></b-img>
               <b-img center src="../assets/am.png" width="699px" height="791px" alt="center"  ></b-img>         
              </b-card-body>
      </b-collapse>

</b-list-group>
        </b-collapse>
        </b-card>
        

    <!--CHAPTER2-->
    <b-card no-body  class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-2 variant="info">CHAPTER 2: OVERVIEW OF THE TURBO C LANGUAGE</b-button>
      </b-card-header>
      <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">

        <b-list-group>
        <b-button v-b-toggle.according-2  class="m-1" variant="dark">2.1 History of C language</b-button>
        <b-collapse id="according-2" >
           <b-card-body>
               <b-card-body>
           <b-card-text>{{ text1a }}</b-card-text>
           <b-card-text>{{ text1b }}</b-card-text>
           <b-card-text>{{ text1c }}</b-card-text>
           <b-card-text>{{ text1d }}</b-card-text>
           <b-card-text>{{ text1e }}</b-card-text>   
        </b-card-body>
                             
        </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-2a  class="m-1" variant="dark">2.2 Some examples of the uses of C </b-button>
          <b-collapse id="according-2a" >
             <b-card-body>
           <b-card-text>{{ text1f }}</b-card-text>
           <b-card-text>{{ text1g }}</b-card-text>
           <b-card-text>{{ text1h }}</b-card-text>
           <b-card-text>{{ text1i }}</b-card-text>
           <b-card-text>{{ text1j }}</b-card-text>
           <b-card-text>{{ text1k }}</b-card-text>
           <b-card-text>{{ text1l }}</b-card-text>
           <b-card-text>{{ text1m }}</b-card-text>
           <b-card-text>{{ text1n }}</b-card-text>
           <b-card-text>{{ text1o }}</b-card-text>      
           </b-card-body>
               
      </b-collapse>
        <b-button v-b-toggle.according-2b  class="m-1" variant="dark">2.3 Features of C language</b-button>
        </b-list-group>

      <b-collapse id="according-2b" >
             <b-card-body>
           <b-card-text>{{ text1p }}</b-card-text>
           <b-card-text>{{ text1q }}</b-card-text>
           <b-card-text>{{ text1r }}</b-card-text>
           <b-card-text>{{ text1s }}</b-card-text>
           <b-card-text>{{ text1t }}</b-card-text>                    
                </b-card-body>
      </b-collapse>


        </b-collapse>
        </b-card>
  <!--CHAPTER 3-->
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-3 variant="info">CHAPTER 3: THE TURBO C ENVIRONMENT</b-button>
      </b-card-header>
      <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">

        <b-list-group>
        <b-button v-b-toggle.according-3  class="m-1" variant="dark">3.1 Turbo C environment </b-button>
        <b-collapse id="according-3" >
          <b-card-body>
           <b-img center src="../assets/3a.png" width="693px" height="404px" alt="center"  ></b-img>  
        </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-3b  class="m-1" variant="dark">3.2 Four Parts of Turbo C environment </b-button>
          <b-collapse id="according-3b" >
         
             <b-card-body>
               <b-img center src="../assets/3b.png" width="696px" height="371px" alt="center"  ></b-img> 
               <b-img center src="../assets/3c.png" width="765px" height="813px" alt="center"  ></b-img>
               <b-img center src="../assets/3d.png" width="764px" height="779px" alt="center"  ></b-img>
               <b-img center src="../assets/3e.png" width="763px" height="367px" alt="center"  ></b-img>        
              </b-card-body>
      </b-collapse>

    </b-list-group>
    </b-collapse>
    </b-card>
<!--CHPATER 4-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-4 variant="info">CHAPTER 4: DATA TYPES AND KEYWORDS</b-button>
      </b-card-header>
      <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
        
         <b-list-group>
        <b-button v-b-toggle.according-4a  class="m-1" variant="dark">4.1 Data Types </b-button>
        <b-collapse id="according-4a" >
          <b-card-body>
            <b-card-text>{{ text4a }}</b-card-text>
           <b-img center src="../assets/4a.png" width="763px" height="533px" alt="center"  ></b-img>
           <b-img center src="../assets/4b.png" width="764px" height="573px" alt="center"  ></b-img>  
        </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-4b  class="m-1" variant="dark">4.2 Keywords </b-button>
          <b-collapse id="according-4b" >
         
             <b-card-body>
               <b-card-text>{{ text4b }}</b-card-text>
               <b-img center src="../assets/4c.png" width="764px" height="256px" alt="center"  ></b-img> 
                      
              </b-card-body>
      </b-collapse>

    </b-list-group>
    </b-collapse>
    </b-card>
<!--CHPATER 5-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-5 variant="info">CHAPTER 5: VARIABLES, CONSTANTS, OPERATORS, AND EXPRESSIONS</b-button>
      </b-card-header>
      <b-collapse id="accordion-5" accordion="my-accordion" role="tabpanel">
       
       <b-list-group>
        <b-button v-b-toggle.according-5a  class="m-1" variant="dark">5.1 Identifiers Defined  </b-button>
        <b-collapse id="according-5a" >
          <b-card-body>
            <b-card-text>{{ text5a }}</b-card-text>  
        </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-5b  class="m-1" variant="dark">5.2 Variables Defined </b-button>
          <b-collapse id="according-5b" >
         
             <b-card-body>
               <b-card-text>{{ text5b }}</b-card-text>
               <b-img center src="../assets/5a.png" width="762px" height="524px" alt="center"  ></b-img>
               <b-img center src="../assets/5b.png" width="764px" height="787px" alt="center"  ></b-img>
               <b-img center src="../assets/5c.png" width="764px" height="454px" alt="center"  ></b-img>  
                      
              </b-card-body>
      </b-collapse>

          <b-button v-b-toggle.according-5c  class="m-1" variant="dark">5.3 Constants Defined </b-button>
          <b-collapse id="according-5c" >
         
             <b-card-body>
               <b-card-text>{{ text5c }}</b-card-text>
               <b-img center src="../assets/5d.png" width="764px" height="94px" alt="center"  ></b-img> 
                      
              </b-card-body>
      </b-collapse>

          <b-button v-b-toggle.according-5d  class="m-1" variant="dark">5.4 Arithmetic, Logical, Relational, and Bitwise Operators </b-button>
          <b-collapse id="according-5d" >
         
             <b-card-body>
               <b-card-text>{{ text5d }}</b-card-text>
                <b-img center src="../assets/5e.png" width="764px" height="754px" alt="center"  ></b-img>
                <b-img center src="../assets/5f.png" width="765px" height="804px" alt="center"  ></b-img>
                <b-img center src="../assets/5g.png" width="763px" height="357px" alt="center"  ></b-img>   
              </b-card-body>
      </b-collapse>

            <b-button v-b-toggle.according-5e  class="m-1" variant="dark">5.5 Evaluation of Expression </b-button>
          <b-collapse id="according-5e" >
         
             <b-card-body>
               <b-card-text>{{ text5e }}</b-card-text>
               <b-img center src="../assets/5h.png" width="766px" height="269px" alt="center"  ></b-img> 
               <b-img center src="../assets/5i.png" width="764px" height="721px" alt="center"  ></b-img>
               <b-img center src="../assets/5j.png" width="763px" height="765px" alt="center"  ></b-img>
               <b-img center src="../assets/5k.png" width="765px" height="444px" alt="center"  ></b-img>

              </b-card-body>
      </b-collapse>

    </b-list-group>
    </b-collapse>
    </b-card>
<!--CHPATER 6-->
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-6 variant="info">CHAPTER 6: STRUCTURE OF A SIMPLE C PROGRAM</b-button>
      </b-card-header>
      <b-collapse id="accordion-6" accordion="my-accordion" role="tabpanel">
       
       <b-list-group>
        <b-button v-b-toggle.according-6a  class="m-1" variant="dark">6.1 Structure of a simple C program (LIM02)  </b-button>
        <b-collapse id="according-6a" >
          <b-card-body>
            <b-card-text>{{ text5a }}</b-card-text> 
            <b-img center src="../assets/6a.png" width="765px" height="730px" alt="center"  ></b-img> 
        </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-6b  class="m-1" variant="dark">6.2 Commonly used include files in C language (SARR97) </b-button>
          <b-collapse id="according-6b" >
         
             <b-card-body>
               
               <b-img left src="../assets/6b.png" width="642px" height="185px" alt="left"  ></b-img>
                 
                      
              </b-card-body>
      </b-collapse>

          <b-button v-b-toggle.according-6c  class="m-1" variant="dark">6.3 Important Symbols (SARR97) </b-button>
          <b-collapse id="according-6c" >
         
             <b-card-body>
               
               <b-img left src="../assets/6c.png" width="501px" height="198px" alt="left"  ></b-img> 
                      
              </b-card-body>
      </b-collapse>

          

    </b-list-group>
    </b-collapse>
    </b-card>
<!--CHPATER 7-->
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-7 variant="info">CHAPTER 7: INPUT AND OUTPUT STATEMENTS</b-button>
      </b-card-header>
      <b-collapse id="accordion-7" accordion="my-accordion" role="tabpanel">
        <b-list-group>
        <b-button v-b-toggle.according-7a  class="m-1" variant="dark">7.1 Input Statement </b-button>
        <b-collapse id="according-7a" >
          <b-card-body>
            <b-card-text><b>Input Statement</b> – a statement used to input a single character or a sequence of characters from the keyboard (SARR97).</b-card-text>
            <b-card-text>1. <b>getch </b> -“a function used to input a single character from the keyboard  without echoing the character on the monitor” (SARR97).</b-card-text>
            <b-card-text><b>Syntax: getch();</b></b-card-text>
            <b-card-text><b>Example: ch = getch();</b></b-card-text>
            <b-card-text>2. <b>getche </b>- “a function used to input a single character from the keyboard,the character pressed echoed on the monitor, like the READLN in PASCAL” (SARR97).</b-card-text>
            <b-card-text><b>Syntax: getche();</b></b-card-text>
            <b-card-text><b>Example: ch = getche();</b></b-card-text>
            <b-card-text>3. <b>getchar </b> -“a function used to input a single character from the keyboard,the character pressed echoed on the monitor, terminated by pressing ENTER key” (SARR97).</b-card-text> 
            <b-card-text><b>Syntax: getchar();</b></b-card-text>
            <b-card-text><b>Example: ch = getchar();</b></b-card-text>
            <b-card-text>4. <b>gets</b> -“a function used to input sequence of character from the keyboard, spaces are accepted, terminated by pressing enter key” (SARR97).</b-card-text> 
            <b-card-text><b>Syntax: gets();</b></b-card-text>
            <b-card-text><b>Example: ch = getchar();</b></b-card-text>
            <b-card-text>5. <b>scanf </b>- “a function used to input single character or sequence of characters from the keyboard, it needs the control string codes in able to recognized. 
                                            Spaces are not accepted upon inputting. Terminated by pressing spacebar” (SARR97).</b-card-text> 
            <b-card-text><b>Syntax: scanf(“control string codes”, identifier);</b></b-card-text>
            <b-card-text><b>Example: scanf(“%d”, &num);</b></b-card-text>
            
        </b-card-body>
      </b-collapse>

        <b-button v-b-toggle.according-7b  class="m-1" variant="dark">7.2 Output Statement  </b-button>
          <b-collapse id="according-7b" >
         
             <b-card-body>
               <b-card-text><b>Output Statement </b> – a statement used to display the argument list or string on the monitor (SARR97).</b-card-text>
            <b-card-text>1. <b>printf </b> – “a function used to display the argument list on the monitor. It sometimes needs the control string codes to help display the remaining argument on the screen” (SARR97).</b-card-text>
            <b-card-text><b>Syntax: printf(“control string codes”, argument list);</b></b-card-text>
            <b-card-text><b>Example: printf(“Hello, %s, you are %d years old”, name, age);</b></b-card-text>
            <b-card-text>2. <b>putchar </b>– “a function used to display the argument list or string on the monitor. It is like overwriting a character” (SARR97).</b-card-text>
            <b-card-text><b>Syntax: putchar();</b></b-card-text>
            <b-card-text><b>Example: putchar(tolower(ch));</b></b-card-text>
            <b-card-text>3. <b>puts </b>– “a function used to display the argument list or string on the monitor. It does not need the help of the control string codes” (SARR97).</b-card-text> 
            <b-card-text><b>Syntax: puts();</b></b-card-text>
            <b-card-text><b>Example: puts(“hello”);</b></b-card-text>
              </b-card-body>
      </b-collapse>

          <b-button v-b-toggle.according-7c  class="m-1" variant="dark">7.3 Format Strings and Escape Sequences </b-button>
          <b-collapse id="according-7c" >
         
             <b-card-body>
               <b-card-text>All format specifiers start with a percent sign (%) and are followed by a single letter indicating the type of data and how data are to be formatted (SARR197).</b-card-text>
               <b-card-text>List of commonly used format specifiers:</b-card-text>
               <b-img center src="../assets/7a.png" width="346px" height="730px" alt="center"  ></b-img> 
               <b-img center src="../assets/7b.png" width="332px" height="356px" alt="center"  ></b-img> 
               <b-card-text><b>NOTE:</b></b-card-text>
               <b-card-text>a funtion gotoxy is used to send the cursor to  the specified location. </b-card-text>
               <b-card-text>Syntax: gotoxy(x,y);</b-card-text>
               <b-card-text>Example: gotoxy(5,10);</b-card-text>
               <b-card-text><b>Examples:</b></b-card-text>
               <b-card-text>1. Make a program that will display the word “Hello”, “I’m fine”, and “Thank You” in different lines and column.</b-card-text>
               
              </b-card-body>
      </b-collapse>

          

    </b-list-group>
    </b-collapse>
    </b-card>
<!--CHPATER 8-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-8 variant="info">Chapter 8</b-button>
      </b-card-header>
      <b-collapse id="accordion-8" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
<!--CHPATER 9-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-9 variant="info">Chapter 9</b-button>
      </b-card-header>
      <b-collapse id="accordion-9" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
<!--CHPATER 10-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-10 variant="info">Chapter 10</b-button>
      </b-card-header>
      <b-collapse id="accordion-10" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
<!--CHPATER 11-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-11 variant="info">Chapter 11</b-button>
      </b-card-header>
      <b-collapse id="accordion-11" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
<!--CHPATER 12-->
      <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="" v-b-toggle.accordion-12 variant="info">Chapter 12</b-button>
      </b-card-header>
      <b-collapse id="accordion-12" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>


       
      
    </div>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'projects',
  components: {  
  },
  
   data() {
      return {

         text1: `
            “Use of symbols and phrases to designate the logic of how a problem is solved” (SCHN95).   
        `,
         text2:`
          	“A common method for defining the logical steps of flow within a program by using a series of symbols to identify the basic Input, 
             Process and Output (IPO’s) function within a program” (TRAN96).
         `,
         text3: `
            “A two-dimensional representation of an algorithm; the predefined graphic symbols of a flowchart 
             are used to indicate the various operations and the flow of control” (SWAZ89).   
        `,
         text4: `
          	“A diagram representing the logical sequence in which a combination of steps or operations is to be performed. 
              It is a blueprint of the program” (LAPU86). 
        `
          ,
         text5: `
            “Algorithm is a finite set of instructions that specify a sequence of operations to be carried out 
            in order to solve a specific problem or class of problems” (SWAZ89).
        `,
         text6:`
              1.	Sequence- process is executed from one to another in a straightforward manner.
         `,
         //CHAPTER2
         text1a:`
              B was developed in the year 1970 by Ken Thompson. The said language is a successor of Basic Command Programming Language (BCPL), which was developed by Martin Richards. 
                To augment B’s power, Dennis Ritchie invented and first implemented the C Programming Language in Bell Laboratory. 
                C was originally developed under UNIX environment running in DEC PDP-11. It stands for Combined Programming Language and sometimes called System Programming Language (SPL). 
                It did not become immediately popular after its creation. It took almost six years when many people read and learned the usefulness of
                 the language after Brian Kernighan and Dennis Ritchie created a famous book called “THE C PROGRAMMING LANGUAGE” (SARR97).
         `,
         text1b:`
             X3J11 committee was created in the year 1983 under the American National Standard Institute (ANSI) to provide machine definition of the language and was then approved in 1989. 
                “ANSI cooperated with the International Standard Organization (ISO) to refer to as ANSI/ISO 9899:1990” (SARR97)
         `,
         text1c:`
              “C is often called a middle level language. C as a middle-level language means that it combines elements of high-level 
                language with the functionalism of assembly language. It allows manipulation of bits, bytes, and addresses the basic element with which the computer functions” (SCHI92).
         `,
         text1d:`
              Input commands, and special words often referred to as reserved words allow the use of lower case only. 
             They should be written in lower case since C is sensitive to those words. They have only 32 keywords (27 from Kernighan and Ritchie standard and 5 added by the ANSI Standardization Committee (SARR97).
         `,
         text1e:`
                C was initially used for system development work, in particular the programs that make up the operating system.
                C is used mainly because it produces codes that run as fast as codes written in assembly language.
         `,
         text1f:`
                •	Operating System
         `,
         text1g:`
                 •	Language Compilers
         `,
         text1h:`
                •	Assemblers
         `,
         text1i:`
                •	Text Editors
         `,
         text1j:`
                •	Print Spoolers
         `,
         text1k:`
                •	Network Devices
         `,
         text1l:`
                •	Modern programs
         `,
         text1m:`
                •	Databases
         `,
         text1n:`
                •	Language Interpreters
         `,
         text1o:`
                •	Utilities
         `,
         text1p:`
               •	A simple core language, such as math functions or files handling provided by a standard set of library routines. 
         `,
         text1q:`
                •	Focus on procedural programming paradigm which facilitates for programming in a structured style.
         `,
         text1r:`
                •	Parameters are always passed by value, never by reference.
         `,
         text1s:`
               •	C encourages the creation of libraries user-defined functions. 
         `,
         text1t:`
               •	C is flexible when it allows unrestricted conversion of data from one type to another,
                  such as conversion of a character to its numeric equivalent.
         `,
         //CHapter 4
         text4a:`
                There are five elementary data types in C: character (char), integer (int), floating point, double floating point and void. 
                “Values of type char are used to hold ASCII characters or any 8-bit quantity. Variables of type int are used to hold integer quantities. 
                Values of type float and double are used to hold real numbers. Real numbers have both an integer and fractional component. 
                The type void has three uses: The first is to declare explicitly a function as returning no value. 
                The second is to declare explicitly a function as having no parameters. The third is to create generic pointers” (SCHI92).
         `,
         text4b:`
               Keywords in C are reserved words that have a special meaning. 
               Reserved words are words “reserved” by the programming language for expressing various statements and constructs, 
               thus, these may not be redefined by the programmer (LIM99).
         `,
         //CHapter 5
         text5a:`
              Identifiers are composed of a sequence of letters, digits, and the special character _ (underscore). 
              Avoid using names that are too short or too long. Limit the identifiers from 8 to 15 characters only (LIM99).  
         `,
         text5b:`
              Variables are identifiers that can store a changeable value. These can be different data types (LIM99). 
         `,
         text5c:`
               Constants are identifiers / variables that can store a value that cannot be changed during program execution (LIM99).
         `,
         text5d:`
              “Operator is a symbol that tells the compiler to perform specific mathematical or logical manipulations.
               There are three classes of operators in C: arithmetic, logical and relational, and bitwise” (SARR97).  
         `,
         text5e:`
               Expression refers to anything that evaluates to a numeric value (LIM99).
         `,
      }
    }
  
}
</script>

<style >
 
</style>
