<!--<template>
   <nav>
       <v-app-bar  color="dark" dark app >
           <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
           <v-toolbar-title class="text-uppercase ">
               <span class="font-weight-light">C Programming</span>
               <span> Tutorial</span>
           </v-toolbar-title>
           <v-spacer></v-spacer>
           <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn
          text
          v-on="on"
        >
          <v-icon left>expand_more</v-icon>
            <span>Menu</span>
        </v-btn>
      </template>
      
      <v-list flat>
        <v-list-item v-for="link in links"  :key="link.text" router :to="link.route" active-class="border">
          <v-list-item-title >{{link.text}}</v-list-item-title>
        </v-list-item>
      </v-list>
            </v-menu>
            <v-btn text>
                <span><a href="/login" target=""> Logout</a></span>
                <v-icon right>exit_to_app</v-icon>
             </v-btn>
             
       </v-app-bar>
      <v-navigation-drawer  v-model="drawer" dark app class="dark darken-4">
          <v-layout column align-center>
               <v-flex class="mt-5"> 
                    <v-avatar size="100">
                            <img src="/clogo.png" alt="">
                    </v-avatar>
                    <p class="white--text subheading mt-1 text-center">C Programming</p>
               </v-flex>
               <v-flex class="mt-4 mb-4">
                <Popup />
               </v-flex>
          </v-layout>
          <v-list flat>
              <v-list-item v-for="link in links"  :key="link.text" router :to="link.route" active-class="border">
                  <v-list-item-action>
                     <v-icon >{{link.icon}}</v-icon>
                  </v-list-item-action>
                  <v-list-item-content >
                      <v-list-item-title >{{link.text}}</v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
          </v-list>
      </v-navigation-drawer>
   </nav>
</template>
<script>

export default {
   data: () => ({
      drawer: true,
      links :[
          {icon: 'home', text:'Chapter Topics', route: '/chapter'},
          {icon: 'list', text:'C examples', route: '/example'},
          {icon: 'question_answer', text:'Quiz', route: '/quiz'}
      ]
     
    }),
    components: {
    
  },

   
}
</script>
<style scoped>
.border {
  border-left: 4px solid #0ba518;
}
</style>-->
<template>
<div>


   <h1 class="text-center">Welcome to C Programming Tutorials</h1>
   <h3 class="text-center">Read, Learn, and Die Hard MotherFucker</h3>


  <b-embed
      type="iframe" 
      aspect="21by9"
      src="https://www.youtube.com/embed/24FdBhO6GXY" 
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen
  ></b-embed>




</div>


</template>
