<template>
    <div class="row my-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body" style="background:whitesmoke;" >
                    <h3 class="text-center my-4">Login</h3>
                    <div class="form-group">
                        
                        <input v-bind:class= "{'is-invalid': errors.non_field_errors, 'is-valid': !errors.non_field_errors && this.submitted}" v-model="name" type="text" placeholder="Username" class="form-control">
                        <div class="errors" v-if="errors.non_field_errors">
                            <small class="text-danger" :key="error" v-for="error in errors.non_field_errors">{{error}}</small>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <input v-bind:class= "{'is-invalid': errors.email, 'is-valid': !errors.email && this.submitted}" v-model="email" type="text" placeholder="Email" class="form-control">
                        <div class="errors" v-if="errors.email">
                            <small class="text-danger" :key="error" v-for="error in errors.email">{{error}}</small>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <input v-bind:class= "{'is-invalid': errors.password, 'is-valid': !errors.password && this.submitted}" v-model="password" type="password" placeholder="Password" class="form-control">
                        <div class="errors" v-if="errors.password">
                            <small class="text-danger" :key="error" v-for="error in errors.password">{{error}}</small>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button @click="loginUser()" :disabled="loading" class="btn form-control  btn-success " style="background-color:black;" >
                            <i class="fas fa-spin fa-spinner" v-if="loading"></i>
                            {{loading ? '': 'Login'}}
                        </button>
                       <p> You don't have an account? 
                           <a href="/signup" class=""> Create one now</a>
                       </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import Axios from 'axios'

export default {
    beforeRouteEnter(to, from, next){
        if(localStorage.getItem('auth')){
            return next({ path: "/home"})
        }
        
            next()
    },
    data(){
        return{
            name: "",
            email: "",
            password: "",
            errors: {}, 
            submitted: false,
            loading: false,
        }
    },
    methods:{
        loginUser(){
            this.loading = true;
               Axios.post(`https://Finalnajud.herokuapp.com/api/v1/rest-auth/login/`,{
               // Axios.post(`https://Finalnajud.herokuapp.com/api/v1/rest-auth/login/`,{
                "username": this.name,
                //"email" : this.email,
                "password": this.password,
            })
            .then((response)=>{
                console.log(response)
                this.loading = false
                this.submitted = true
                localStorage.setItem('access',response.data.access)
                localStorage.setItem('refresh',response.data.refresh)
                localStorage.setItem('authname',this.name)
                localStorage.setItem('auth',1)
                this.$noty.success("Successfully logged in.")
                this.$router.go('/login')
            })
            .catch((response)=>{
                this.loading = false;
                this.$noty.error("Oops ! something went wrong.")
                this.errors = response.data;
            })
            // Axios.get(`http://127.0.0.1:8000/api/v1/users/`,{
            //     "username": this.name,
            //     "email" : this.email,
            // })
            // .then((response)=>{
            //     console.log(response)
            //     this.$root.authname = response.data.username;
            //     localStorage.setItem('authname',response.data.username)
            
            // })
        }
    }
}
</script>
