<template>
    <div class="row my-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body " style="background:whitesmoke;" >
                    <h3 class=" text-center my-4 " >Signup</h3>
                    <div class="form-group">
                        <input v-bind:class= "{'is-invalid': errors.name, 'is-valid': !errors.name && this.submitted}" v-model="name" type="text" placeholder="Name" class="form-control">
                        <div class="errors" v-if="errors.name">
                            <small class="text-danger" :key="error" v-for="error in errors.name">{{error}}</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input v-bind:class= "{'is-invalid': errors.email, 'is-valid': !errors.email && this.submitted}" v-model="email" type="text" placeholder="Email" class="form-control">
                        <div class="errors" v-if="errors.email">
                            <small class="text-danger" :key="error" v-for="error in errors.email">{{error}}</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input v-bind:class= "{'is-invalid': errors.password && errors.non_field_errors, 'is-valid': !errors.non_field_errors && !errors.password && 
                        this.submitted}" v-model="password1" type="password" placeholder="Password" class="form-control">
                        <div class="errors" v-if="errors.password1">
                            <small class="text-danger" :key="error" v-for="error in errors.password1">{{error}}</small>
                        </div>
                        <div class="errors" v-if="errors.non_field_errors">
                            <small class="text-danger" :key="error" v-for="error in errors.non_field_errors">{{error}}</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input v-bind:class= "{'is-invalid': errors.password2 && errors.non_field_errors, 'is-valid': !errors.non_field_errors && !errors.password2 && 
                        this.submitted}" v-model="password2" type="password" placeholder="Re-type Password" 
                        class="form-control"
                        >
                        <div class="errors" v-if="errors.password2">
                            <small class="text-danger" :key="error" v-for="error in errors.password2">{{error}}</small>
                        </div>
                        <div class="errors" v-if="errors.non_field_errors">
                            <small class="text-danger" :key="error" v-for="error in errors.non_field_errors">{{error}}</small>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button @click="registerUser()" :disabled="loading" class="btn form-control btn-success" style="background-color:black;">
                            <i class="fas fa-spin fa-spinner" v-if="loading"></i>
                            {{loading ? '': 'Signup'}}
                            <p> 
                                <a href="/login" class="" > Log in </a>
                            </p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import Axios from 'axios';

export default {
    beforeRouteEnter(to, from, next){
        
        if(localStorage.getItem('auth')){
            return next({ path: "/home"})
        }
        
            next()
    },
    data(){
        return {
            name: '',
            email: '',
            password1: '',
            password2: '',
            errors: {},
            submitted: false,
            loading: false
        }
    },
    methods:{
        registerUser(){
            this.loading = true;
            Axios.post(`https://Finalnajud.herokuapp.com/api/v1/rest-auth/registration/`,{
                username: this.name,
                email: this.email,
                password1: this.password1,
                password2: this.password2
            })
            .then((response) =>{
                this.loading = false;
                this.submitted = true; 
                this.$noty.success("Successfully registered in.")
                
                this.$router.push('/login')
                this.$noty.success("Please Login.")
            })
            .catch(({response}) =>{
                this.loading = false;
                this.$noty.error("Oops ! something went wrong.")
                this.submitted = true; 
                this.errors = response.data;
            })
        }
    }
}
</script>
