<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"  >
      
  <div class="container"> 
    <img  src="../assets/clogo.png" width="50px" height="50px" alt=""  > 
    
   
    <ul class="navbar-nav ml-auto">
      <router-link class="navbar-link" v-if="authUser == 1"  to="/home">
         
           <router-link class="nav-link active" to="/home">Home</router-link>    
      </router-link>
           
     <router-link class="navbar-link " v-if="authUser == 1"  to="/home">
        <!--<router-link to="/chapter" type="dark" >Chapter </router-link>  -->   
           <router-link class="nav-link active" to="/chapter">Chapters </router-link>    
      </router-link>
      <!--<a class="nav-link" href="/" >Home <span class="sr-only">(current)</span></a>-->
       <router-link class="navbar-link" v-if="authUser == 1"  to="/home">
         
           <router-link class="nav-link active" to="/example">C examples</router-link>    
      </router-link>
      <router-link class="navbar-link" v-if="authUser == 1"  to="/home">
         
           <router-link class="nav-link active" to="/quiz">Quizzes</router-link>    
      </router-link>
           
           </ul> 
        
        
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto"  >


      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form> 

        <li class="nav-item" v-if="!authUser">
            <router-link class="nav-link " to="/login">Login</router-link>
            
        </li>
        <li class="nav-item" v-if="!authUser ">
            <router-link class="nav-link " to="/signup">Signup</router-link>
        </li>
         
      <li class="nav-item dropdown" v-if="authUser == 1 ">
        
        <a class="nav-link dropdown-toggle " href="#" id="dropdown-dropright" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Welcome {{authname}}
        </a>
        <div class="dropdown-menu m-2" aria-labelledby="navbarDropdown" variant="outline-primary" >
          <a class="dropdown-item"  href="/home"  >Home</a>
          <a class="dropdown-item"  href="/feedback"  >Feedback</a>
          <a class="dropdown-item"  @click="logout()" >Logout</a>
          
          
        </div>
      </li>
     
    </ul>
   
  </div>
  </div>
</nav>
</template>

<script>
export default {
    mounted(){
        
    },
    computed:{
        authUser(){
            return localStorage.getItem("auth")
        },
        authname(){
            return localStorage.getItem("authname")
        }
        
    
    },
    methods: {
        logout(){
            this.$noty.success("Successfully logged out.")
            localStorage.removeItem("auth")
            localStorage.removeItem("access")
            localStorage.removeItem("refresh")
            this.$root.auth = {}
            this.$router.go("/login")
        },
    }
}
</script>
