<template>
  <div id="app">
    <Navbar />
      <div class="container">
        <router-view></router-view>
      </div>
  </div>
</template>

<script>

import Navbar from '@/components/Navbar'


export default {
  name: 'app',
  components: {
    Navbar,
    
  }
}
</script>

<style>
  
nav {
  margin-bottom: 20px;
}
body {
    background:white ;
    font-family: 'Montserrat', sans-serif;
    
  }


</style>
